html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background: white;
    color: black;
}

* {
    box-sizing: border-box;
    color: inherit;
}

@media screen and (max-width:767px) {
    *:focus {
        outline-color: transparent;
    }   
}
